body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #f2f2f2;
  color: black;
}

/* Communs */
.container {
  width: 1240px;
  margin: 0 auto;
}
span {
  font-size: 12px;
  line-height: 16px;
}
h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #000a12;
}

h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #000a12;
}
h4 {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: #000a12;
}
/* flexBox */
.flex-align-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-align-left {
  display: flex;
  align-items: center;
}
.flex-vertical-align-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flex-vertical-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

/*visible on small only */
.visible-on-small-only {
  display: none;
}
/*visible on small only */
.hide-on-small-only {
  display: flex;
}

/* Icons */
.icon-activity {
  font-size: 28px;
  line-height: 32px;
  color: inherit;
}

.icon-green {
  color: #078171;
  font-size: 12px;
}
.icon-white {
  color: white;
  font-size: 18px;
}
/* button */
.btn-primary {
  background-color: #101010;
  width: 120px;
  line-height: 35px;
  font-size: 13px;
  border: none;
  border-radius: 4px;
  color: white;
  outline: none;
  font-weight: bold;
  margin: 0 5px;
}
.btn-more {
  background-color: #078171;
  width: 100px;
  line-height: 35px;
  font-size: 13px;
  border: none;
  border-radius: 4px;
  color: white;
  outline: none;
  font-weight: bold;
}

.btn-secondary {
  height: 35px;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  border-radius: 4px;
  color: black;
  outline: none;
  width: 240px;
  margin-bottom: 10px;
  margin: auto;
}
.button-header {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 25px;
  letter-spacing: 1px;
  width: 70px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-header i {
  font-size: 22px;
}
/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 99;
}
header img {
  width: 180px;
  margin: auto 0;
}

header i {
  font-size: 24px;
  margin: 0 20px;
}
header i:last-child {
  font-size: 24px;
  margin-left: 5px;
}
header i:hover {
  color: #717171;
}
.search {
  width: 160px;
  background-color: #f9f0ec;
  display: flex;
  align-items: center;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  height: 35px;
  margin: 0 5px;
  text-align: start;
}

/* nav */
nav {
  position: relative;
  width: 100%;
  top: 60px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(/assets/img/header/paris.jpg);
  height: 250px;
  background-size: cover;
  background-position: center;
}

nav .select {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 50px;
}

.breadcrumbs {
  position: absolute;
  top: 0px;
  width: 100%;
  font-size: 11px;
  background-color: rgba(255, 255, 255, 0.8);
}
.breadcrumbs ul {
  display: flex;
}
.breadcrumbs i {
  padding: 0 5px;
}
.breadcrumbs a {
  line-height: 40px;
  color: inherit;
  text-decoration: inherit;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}

nav ul {
  display: flex;
  align-items: center;
}

.button-header {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  letter-spacing: 1px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(19, 19, 19, 0.7);
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

menu {
  position: relative;
  top: 30px;
  width: 1020px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 100px;
  font-size: 14px;
  font-weight: bold;
  margin: auto;
}
menu li {
  text-align: center;
}

menu li:hover {
  opacity: 0.5;
}
main {
  position: relative;
  display: flex;
  top: 50px;
}

.main-content {
  width: 600px;
  min-height: 100px;
}

.content {
  background-color: white;
  margin: 0px 20px;
  padding: 20px;
}
.content p {
  margin: 20px 0;
  font-size: 14px;
  line-height: 20px;
  color: #4a4a4a;
}
.img-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.img-container > img {
  width: 258px;
  height: 170px;
  object-fit: cover;
  padding: 1px 1px;
}

.img-container img:last-child {
  background-color: rgba(0, 0, 0, 0.5);
}
/* aside */
aside {
  width: 300px;
}
.aside1 div {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px 10px;
  height: 440px;
}

.aside1 img {
  margin: auto;
  width: 150px;
}

.aside1 h3 {
  text-align: center;
  padding: 20px 20px;
}

.aside1 ul {
  padding: 20px;
  color: #4a4a4a;
}
.aside1 ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.aside1 ul span {
  font-size: 14px;
  line-height: 18px;
  margin-left: 10px;
}

.aside1 ul span:hover {
  text-decoration: underline;
}

.aside2 div {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: white;
  padding: 0 20px;
  height: 540px;
}
.aside2 h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.aside2 h4 {
  margin-top: 15px;
  margin-bottom: 10px;
}
.aside2 ul a {
  text-decoration: none;
  color: #000a12;
  font-size: 14px;
  line-height: 18px;
}
.aside2 ul a:hover {
  text-decoration: underline;
}
.aside2 ul li {
  padding: 2px 0;
}

.aside2 img {
  width: 250px;
  height: 140px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.section1 {
  background-color: white;
  padding: 10px 10px;
  box-sizing: border-box;
  width: 600px;
  min-height: 400px;
  margin: 0 auto;
}
.section1 p {
  margin-left: 15px;
  font-size: 14px;
  line-height: 20px;
  color: #4a4a4a;
}
.more {
  display: flex;
  align-items: center;
  color: #078171;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.content-slider {
  width: 520px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
}
.content-slider h4 {
  margin: 10px 0;
}
.slider {
  display: flex;
  width: 525px;
  height: 240px;
  overflow: hidden;
  overflow-x: scroll;
  margin: auto;
}
.slider::-webkit-scrollbar {
  display: none;
}
.slider img {
  position: relative;
  width: 250px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  flex: none;
}
.slider > div {
  margin-right: 10px;
}
.slider .icon-slide {
  position: relative;
  top: 35px;
  left: 215px;
  z-index: 999;
  font-size: 24px;
}
.slider div div {
  color: #4a4a4a;
  margin: 5px 0;
}
/* Post */
.post {
  background-color: white;
  width: 555px;
  min-height: 300px;
  margin: auto;
  box-sizing: border-box;
  font-size: 14px;
}

.post-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.post-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}
.post-header .flex-vertical {
  width: 85%;
}

.post-header .info {
  display: flex;
  align-items: center;
}
.post-header .icon-green {
  font-size: 14px;
}
.post-header span {
  color: #797979;
}
.post-header .date {
  color: #797979;
}
.post-header span:first-child {
  font-weight: bold;
  color: #000a12;
}

.post > img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}
.post .description {
  color: #797979;
  background-color: white;
}
.post .description p {
  margin: 10px 10px;
}
.post .description span {
  margin: 10px 10px;
}
.post .action {
  border-top: 1px solid rgb(205, 205, 205);
  width: 98%;
  height: 60px;
  margin: 10px auto;
  box-sizing: border-box;
  display: flex;
}
.post .action ul {
  display: flex;
  align-items: center;
  margin: auto 10px;
}
.post .action li {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #000a12;
  margin-right: 10px;
}
.post .action li i {
  color: #969696;
  margin-right: 5px;
}
.post span:hover {
  text-decoration: underline;
}
.post .action li:hover {
  opacity: 0.7;
}

.more-post {
  position: relative;
  top: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.btn-more:hover {
  opacity: 0.8;
}
.btn-primary:hover {
  opacity: 0.8;
}

footer {
  position: relative;
  top: 80px;
  left: 0;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #969696;
}
footer img {
  width: 150px;
  height: 70px;
}
footer > span {
  text-align: center;
}

/* Modal */
.display-modal-none {
  display: none;
}
.display-modal-true {
  display: true;
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 54%;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  padding: 20px 20px;
}
.modal i {
  text-align: right;
  font-size: 22px;
}
.modal > img {
  width: 60%;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.modal button {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 88%;
  background-color: transparent;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.modal > span {
  margin-bottom: 20px;
  margin-left: 20px;
  border: solid 1px solid;
}
.modal button img {
  width: 30px;
  padding: 5px 5px;
  margin-right: 20px;
}
.modal button i {
  font-size: 30px;
  padding: 5px 5px;
  margin-right: 20px;
}
.modal button > span {
  font-size: 14px;
  font-weight: bold;
}

.modal p {
  width: 85%;
  font-size: 11px;
  padding: 0 20px;
  text-align: justify;
  color: #4a4a4a;
  margin: 0 10px;
}

.modal .flex-align-space-between {
  margin-bottom: 20px;
}
.trait {
  width: 155px;
  border-bottom: 1px solid rgb(179, 179, 179);
}
.trait:first-child {
  margin-left: 20px;
}
.trait:last-child {
  margin-right: 30px;
}

/* tablettes */
@media (max-width: 1024px) {
  /*visible on small only */
  .hide-on-small-only {
    display: none;
  }

  .container {
    width: 100%;
    margin: 0;
  }
  nav img {
    transform: scale(0.7);
  }
  header div span {
    display: none;
  }
  header .search {
    background-color: white;
    width: 80px;
  }
  menu {
    width: 100%;
    min-height: 250px;

    flex-wrap: wrap;
    justify-content: center;
  }
  menu li {
    width: 30%;
    flex: none;
  }
  menu li i {
    font-size: 12px;
  }

  .img-container > img {
    width: 448px;
    height: 170px;
  }

  .main-content {
    width: 100%;
  }
  .content-slider {
    width: 90%;
  }
  .slider {
    width: 90%;
  }
  .post {
    width: 100%;
  }
}
/* mobile */
@media (max-width: 768px) {
  .visible-on-small-only {
    display: inline;
  }
  .container {
    width: 100%;
    margin: 0;
  }

  header i,
  #Signup,
  .search {
    display: none;
  }
  nav img .select {
    transform: scale(0.7);
  }
  .breadcrumbs {
    display: none;
  }
  menu {
    width: 100%;
    min-height: 250px;
    flex-wrap: wrap;
    justify-content: center;
  }
  menu li {
    width: 30%;
    flex: none;
  }
  menu li i {
    font-size: 10px;
  }
  .main-content {
    width: 100%;
  }
  .img-container > img {
    width: 250px;
    height: 100px;
  }
  .content-slider {
    width: 90%;
  }
  .slider {
    width: 90%;
  }
  .post {
    width: 90%;
  }

  .post-header .info {
    font-size: 8px;
    flex-direction: column;
    align-items: flex-start;
  }

  .date {
    font-size: 10px;
  }
}
/* .slider::-webkit-scrollbar {
  display: none;
} */
